# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://<username>:<password>@<hostname>/freepass2024?retryWrites=true&w=majority

# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION=30m